exportPattern("^[[:alpha:]]+")
importClassesFrom(Seurat, Seurat)
importClassesFrom(SingleCellExperiment, SingleCellExperiment)
importFrom(tidyr,"%>%")
importFrom("methods", "as", "is")
importFrom("stats", "aov")
importFrom("Matrix", "Matrix", "Diagonal")
importFrom("ruv", "RUV1")
